
body { 

 font-size: 27mm; 
 color: #0e32a8; 


} 
p 
 { 
     font-size: 17mm; 
     color: #2dce0d; 
}
h1{
    font-size: 7mm;
    color: #b30c0c; 
}
h2{
    font-size: 6mm;
    color: #C0C0C0; 
}