   p  { 
 color:    #800000 ; 
 font-size:  73px; 
       } 
                       @import url("cztery_pierwsze_litery_nazwiska_z5_1.css "); 
                         /*  Maslii Z5_1html  16.01.2026  */ 